*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-our-company{
    width: 100%;
    padding-top: 40px;
}
.about-our-company h1{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    width: 100%;
}
@media (max-width:500px) {
    .about-our-company h1{
        font-size: 30px;
    }
    .about-our-company p{
        width: 95% !important;
    }
    #about-us h1{
        font-size: 35px !important;
    }
    .advantages p{
        font-size: 150px !important;
    }
}
.about-our-company p{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    color: #3f3f3f;
}


#about-us h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
    padding-top: 50px;
}
.advantages{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.advantages div{
    position: relative;
    height: 250px;
    width: 200px;
}
.advantages p{
    position: absolute; 
    color: #009b773f; 
    font-size: 200px; 
    font-weight: 500;
    font-family: "Nunito", serif;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -65%); 
    z-index: 1; 
    margin: 0;
    user-select: none;
}
.advantages span {
    position: relative;
    z-index: 2; 
    color: #525252;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.advantages h4{
    margin-top: 100px;
    font-weight: 900;
    font-family: "Nunito", serif;
}