*{
    padding: 0;
    margin: 0;
}

.up-site-navbar{
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo{
    width: 150px;
    height: 150px;
}
.navbar-logo img{
    width: 100%;
    height: 100%;
}
.navbar-look-mannequin a{
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    background-color: #009B77;
    border-radius: 10px;
    font-weight: 700;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-info{
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: end;
}
.navbar-info a{
    text-decoration: none;
}
.navbar-info h5:hover{
    color: #009B77 ;
}
.navbar-info p{
    font-size: 13px;
}
.navbar-info span{
    font-size: 13px;
    color: #808080;
}
.navbar-info h5{
    font-size: 13px;
    color: #4b4b4b;
    cursor: pointer;
}
.navbar-info h4{
    font-size: 15px;
    cursor: pointer;
    color: #272727be;
}

.change-languge{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
}

.select-selected {
    background-color: #fff;
    border: 1px solid #c9c9c9be;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 10px;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.select-selected i{
    font-size: 20px;
}
.select-selected img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.select-items {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 99;
    width: 100%;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 3px;
}

.select-items div {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 5px;
    cursor: pointer;
}
.select-items img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.select-items div:hover {
    background-color: #009B77;
    color: #fff;
    border-radius: 10px;
}

.select-selected:focus + .select-items {
    display: block;
}

.selec-text{
    display: flex;
    align-items: center;
    gap: 5px;
}

.down-site-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.navbar a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar a:hover{
    color: #009B77;
}

.down-navbar-sm a{
    text-decoration: none;
}
.navbar-sm{
    display: flex;
    gap: 20px;
}
.down-navbar-sm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.delevery-uz-sng{
    display: none;
}


.media-navbar-info-div{
    padding: 5px 20px ;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.media-navbar-info{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: start;
}
.media-navbar-info a{
    text-decoration: none;
}
.media-navbar-info h5:hover{
    color: #009B77 ;
}
.media-navbar-info p{
    font-size: 12px;
    font-weight: 800;
    color: #4b4b4b;
}
.media-navbar-info span{
    font-size: 13px;
    color: #808080;
    font-weight:6500;
}
.media-navbar-info h5{
    font-weight: 800;
    font-size: 13px;
    color: #4b4b4b;
    cursor: pointer;
}

.navbar-menu{
    display: none;
}

#bx-phone{
    background: #009b15; 
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 20px;
}

.media-menu-navabr{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000d8;
    backdrop-filter: blur(5px);
    display: block !important;
    top: -1000000px;
    width: 50%;
    padding-top: 30px;
    transition: .5s;
}
.media-menu-navabr a{
    color: #fff;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
.media-menu-navabr p{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.media-navbar-cont{
    border-bottom: 1px solid #fff;
}

.media-menu-navabr i{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: 10px;
    right: 10px;    
}

@media (max-width:1100px) {
    .navbar a{
        text-decoration: none;
        color: #000;
        font-size: 14px;
    }
}

@media (max-width:1000px) {

    .delevery-uz-sng{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #009B77;
        color: #fff;
        font-weight: 800;
        font-family: "Nunito", serif;
        font-optical-sizing: auto;
        font-style: normal;
        height: 30px;
        font-size: 20px;
    }
    .navbar{
        display: none;
    }
    .down-navbar-sm{
        display: none;
    }
    .down-site-navbar{
        display: block;
        width: 100%;
        padding: 0px;
    }
    .navbar-info{
        display: none;
    }
    .navbar-look-mannequin{
        display: none;
    }
    .navbar-logo{
        width: 130px;
        height: 130px;
    }
    .navbar-menu{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu i{
        font-size: 30px;
    }
    .navbar-sm a{
        text-decoration: none;
    }
    .media-navbar-info-div{
        display: flex;
    }
}

@media (max-width:600px) {
    .delevery-uz-sng{
        font-size: 15px;
    }
    .media-navbar-info p, .media-navbar-info span, .media-navbar-info h5{
        font-size: 10px;
    }
    .navbar-logo{
        width: 80px;
        height: 80px;
    }
    .custom-select {
        position: relative;
        display: inline-block;
        width: 130px;
    }
    .navbar-sm{
        display: flex;
        gap: 10px;
    }
}
