
.image, .text{
    width: 49%;
}


.swiper {
    width: 70%;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    cursor: pointer;
    border-radius: 10px;
    width: 100px ;
    height: 500px ;
}
@media (max-width:1150px) {
    .swiper {
        width: 85%;
    }
}
@media (max-width:900px) {
    .swiper {
        width: 95%;
    }
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
}


.about-mannequin-woman-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.about-mannequin-woman-button a{
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #009B77;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.about-mannequin-woman-button a:hover{
    color: #009B77;
    box-shadow: 0 0 10px #009B77;
    background-color: #fff;

}

section{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 50px; 
    font-weight: 500;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 30px;
}
.text p{
    font-size: 17px;
}
@media (max-width:900px) {
    .text p{
        font-size: 15px;
    }
}
@media (max-width:800px) {
    section{
        display: block;
    }
    .image{
        width: 80%;
        margin: auto;
    }
    .slide {
        height: 400px ;
    }
    .swiper {
        width: 60%;
    }
    .text{
        width: 80%;
        margin: auto;
        margin-top: 15px;
    }
    .text p{
        font-size: 18px;
    }
}
@media (max-width:700px) {
    .swiper {
        width: 75%;
    }
}
@media (max-width:600px) {
    .text p{
        font-size: 15px;
    }
    .swiper {
        width: 85%;
    }
}
@media (max-width:500px) {
    .image{
        width: 95%;
    }
    .slide {
        height: 450px ;
    }
    .swiper {
        width: 95%;
    }
    .text{
        width: 95%;
    }
    .about-mannequin-woman-button a{
        width: 95%;
        height: 45px;
        font-size: 18px;
    }
}
@media (max-width:360px) {
    .swiper {
        width: 100%;
    }
    .slide {
        height: 400px ;
    }
}